<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="google-signin-client_id"
        content="379840662225-6js5nrk4p3rbvlos6plkom6q5kfiodof.apps.googleusercontent.com">
</head>
<body>
<div class="my-signin"></div>


<script>

    function onSucces(googleUser){
        let profile = googleUser.getBasicProfile()
        console.log('Email' + profile.getEmail())
        let token = googleUser.getAuthResponse().id_token
        console.log('Token' + token)
    }

    function onfailure(error){
        console.log(error)
    }

    function rebderButton(){
        gapi.signin2.render('my-signin', {
            'scope': 'profile email',
            'width': 240,
            'height': 50,
            'longtitle': true,
            'theme': 'dark',
            'onsucces': onSucces,
            'onfailure': onFailure
        })
    }
</script>

<scrip src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></scrip>
</body>
</html>